
* {
    box-sizing: border-box;
    margin: 0;
    padding: 1vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #4a4a4a;
    padding: 1vw;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

#ticket-info {
    padding-left: 15%;
    padding-right: 15%;

    font-size: 3vh;
    text-align: center;
    margin: 20px 0;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    gap: 10px;
}

button {
    background-color: #4a87d3;
    color: #ffffff;
    padding: 10px 40px;
    font-size: 2.4vh;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
}
button:hover {
    background-color: #3877b1;
}
#average-score {
    position: fixed;
    top: 50px;
    right: 30px;
    font-size: 2.4vh;
}