body, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
}

* {
    box-sizing: border-box;
}

.ananas {
    background-image: url("images/pineapple_background.jpg");
    background-size: 100px 150px;
    background-repeat: repeat;
}

.block {
    margin: 3vw;
    border-bottom-left-radius: 9vw;
    border-top-right-radius: 9vw;
    border-bottom-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
    padding: 3vw;
    display: flex;
}
.border_blue {
    border: rgb(9, 118, 243) 2px solid;
    background-color: rgba(9, 118, 243, 0.5);
}
.border_github {
    border: rgb(110, 84, 148) 2px solid;
    background-color: rgb(165, 126, 222);
}

.blue_outline {
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(9, 118, 243);
}

.header {
    height: 30vw;
    width: 94vw;
}

.header_title {
    font-size: 6vw;
    color: white;
    text-align: left;
    margin: auto;
    margin-left: 0;
    font-weight: 600;
    font-family: fantasy;
    display: block;
}

.header_image {
    margin: auto;
    margin-right: 1vw;
    width: 23vw;
    height: 23vw;
    background-image: url("images/title_photo.png");
    background-size: 100%;
    background-position: center;
    border: rgb(9, 118, 243) 2px solid;
    border-top-right-radius: 6vw;
    display: block;
}

.section10 {
    widtgh: 100vw;
    height: 10vw;
}
.section20 {
    widtgh: 100vw;
    height: 20vw;
}
.section30 {
    widtgh: 100vw;
    height: 30vw;
}
.section40 {
    widtgh: 100vw;
    height: 40vw;
}
.section50 {
    widtgh: 100vw;
    height: 50vw;
}

.section_text {
    margin: auto;
    text-align: center;
    font-size: 4vw;
    font-family: fantasy;
    font-weight: 600;
    color: white;
}
.section_spam {
    margin: auto;
    padding: 2%;
    padding-top: 0;
    text-align: left;
    font-size: 2.7vw;
    font-family: fantasy;
    font-weight: 900;
    color: white;
    display: block;
}

.image {
    overflow: hidden;
    margin: 1vw 0;
    margin-right: 1vw;
    min-width: 23vw;
    border-top-right-radius: 6vw;
    display: block;
}

.about_me_text {
    color: rgb(55, 42, 74);
    font-family: fantasy;
    font-weight: 700;
}

.contact_button {
    width: 4vw;
    height: 4vw;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 0.5vw;
}

.footer {
    background-color: #000a;
    border-radius: 1.5vw;
    border-color: black;
    color: white;
    font-size: 3vw;
}
