.header__image {
    background-repeat: no-repeat;
    margin: auto;
    margin-right: 1vw;
    width: 23vw;
    height: 23vw;
    background-size: cover;
    background-position: center;
    border: rgb(9, 118, 243) 2px solid;
    border-top-right-radius: 6vw;
    display: block;
}
