.registration-form__button {
    padding: 10px 20px;
    font-size: 2vw;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

.registration-form__button:hover {
    background-color: #45a049;
}