body, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: cambria;
    font-weight: 600;
    vertical-align: baseline;
    outline: none;
}

* {
    box-sizing: border-box;
}